block body
    section.information 
        .container 
            .row 
                .info-wrapp.col-6.d-flex.justify-content-center.flex-column
                    h1.main-title Fill out the form and start using our platform
                    form(action="#").d-flex.flex-column
                        .d-flex.form-item.align-items-end 
                            label(for="input") Name
                            input(type="text" name="text")
                        .d-flex.form-item 
                            label(for="input") E-mail
                            input(type="email" name="e-mail")
                        .d-flex.form-item
                            label(for="input") Phone
                            input(type="tel" name="phone-number")
                        .d-flex.form-item
                            label(for="input") Country
                            input(type="text" name="country")
                    .btn-wrapp 
                        button(type="submit").offer-btn Continue
                    .text-wrapp
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. 
                        p.offer-text Doubts and comments call us at 464 5788
                .photo-wrapp.col-6.d-flex
                    .img-wrapp
                        img(src="img/photo-2.png" alt="Phone")
                    .img-wrapp
                        img(src="img/photo-1.png" alt="Phone")
    section.main 
        .container 
            .row    
                .photo-wrapp.col-4
                    img(src="img/section-photo.png" alt="Men")
                .main-text-wrapp.col-6.text-center.d-flex.flex-column.align-items-center
                    h1.main-title What are the main forms of online payment?
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. 
                    button.offer-btn Read more
                    p.offer-text Doubts and comments call us at 464 5788
   


script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous")
script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js") 
script(src="js/main.js")
