block header
    header
        .container
            .row 
                .logo.col-2
                    a(href="#") 
                        img(src="img/logo.svg" alt="W-pay") 
                .nav-menu.col-6.d-flex.align-items-center.justify-content-between
                    a(href="#") Home
                    a(href="#") Products
                    a(href="#") Plans
                    a(href="#") Prices
                    a(href="#") Start 
                    a(href="#") Contact
                .nav-social.col-1.d-flex.align-items-center.justify-content-between
                    a(href="#") 
                        img(src="img/facebook-icon.svg" alt="Facebook")
                    a(href="#") 
                        img(src="img/instagram-icon.svg" alt="Instagram")
                .nav-form.col-3.d-flex.align-items-center
                    button Login

